name: CI

on:
  push:
    branches: [ main, "release/*" ]
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run Go unit tests
        run: |
          for dir in src/shippingservice src/productcatalogservice; do
            echo "Testing $dir ..."
            (cd "$dir" && go test -v ./...)
          done

      - name: Run .NET unit tests
        run: |
          echo "Testing src/cartservice ..."
          dotnet test src/cartservice/ --verbosity normal
